*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper{
border-radius: 10px;
  width: 350px;
  min-height: 480px;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 20px;


}


.calc-flex{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.calc-display{
  height: 100px;
  border: 1px solid black;
  display: flex;
 
  padding: 15px;
  flex: 1;
  background-color: azure;
}

.calc-num{
  align-self: flex-end;
  font-size: 30px;
  display: flex;
}

.calc-displayed-nums{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}
.top-num{
  display: flex;
 align-self: flex-end;
}

.calc-btns{
  display: flex;
  gap: 5px;
}

.calc-btns > button{
 flex: 1;
 padding: 20px;
}

.number-btns{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.number-btns > button{
  padding: 20px;
 
}